---
layout: default
status: logged-in
id: no-alerts
---

<div class="container">
{% include add-alert.html %}
{% include edit-alert.html %}
{% include warning-modal.html %}

	<!-- PAGE HEADER -->
	<div class="page-header col-lg-12">
		<div class="page-title col-lg-6">
			<h1>Manage Alerts</h1>
			<h5>You’ve got 75 save searches firing 43 alerts your way</h5>
		</div>

		<div class="add-content col-lg-6">
			<span>
				<h4>Add new alert!</h4>
				<button class="btn-default btn-outline" data-toggle="modal" data-target="#addAlert"> + </button>
			</span>
		</div>
	</div>
	<!-- END PAGE HEADER -->

	<!-- ALERTS -->	
	<div class="alert-individual col-lg-12 clearfix">
		<div class="alert-individual--heading">
			<h3><span>Traralgon</span><span>Morwell</span><span>Brighton</span><span>Richmond</span></h3><p>Search Radius: <span>15km</span></p>
		</div>
		<div class="col-lg-3 col-md-6 col-xs-6">
			<p>Expires: <span>30/08/2016</span></p>
			<p>Buy / Rent: <span>Buy</span></p>
		</div>
		<div class="col-lg-3 col-md-6 col-xs-6">
			<p>Type: <span>House</span></p>
			<p>Price Range: <span>250k - 350k</span></p>
		</div>
		<div class="col-lg-3 col-md-6 col-xs-6">
			<span class="beds icon col-xs-4"> : 2-4</span>
			<span class="baths icon col-xs-4"> : 1</span>
			<span class="cars icon col-xs-4"> : 1</span>
		</div>
		<div class="col-lg-3 col-md-6 col-xs-6">
			<button class="btn-default btn-outline edit icon" data-toggle="modal" data-target="#editAlert">Edit Alert</button>
			<button class="btn-default btn-outline delete icon" data-toggle="modal" data-target="#warning">Delete Alert</button>
		</div>
	</div>
	<div class="alert-individual col-lg-12 clearfix">
		<div class="alert-individual--heading">
			<h3><span>Traralgon</span><span>Morwell</span><span>Brighton</span><span>Richmond</span></h3><p>Search Radius: <span>15km</span></p>
		</div>
		<div class="col-lg-3 col-md-6 col-xs-6">
			<p>Expires: <span>30/08/2016</span></p>
			<p>Buy / Rent: <span>Buy</span></p>
		</div>
		<div class="col-lg-3 col-md-6 col-xs-6">
			<p>Type: <span>House</span></p>
			<p>Price Range: <span>250k - 350k</span></p>
		</div>
		<div class="col-lg-3 col-md-6 col-xs-6">
			<span class="beds icon col-xs-4"> : 2-4</span>
			<span class="baths icon col-xs-4"> : 1</span>
			<span class="cars icon col-xs-4"> : 1</span>
		</div>
		<div class="col-lg-3 col-md-6 col-xs-6">
			<button class="btn-default btn-outline edit icon" data-toggle="modal" data-target="#editAlert">Edit Alert</button>
			<button class="btn-default btn-outline delete icon" data-toggle="modal" data-target="#warning">Delete Alert</button>
		</div>
	</div>
	<!-- END ALERTS -->	

</div>
