<div class="listings clearfix">

	<!-- LISTING TABLE HEADER -->
	<div class="listings-heading col-md-12 col-sm-6 col-xs clearfix">
		<p class="listing-time">Listed</p>
		<p class="listing-town">Town</p>
		<p class="listing-address">Address</p>
		<p class="listing-type">Property Type</p>
		<p class="listing-icon beds icon"></p>
		<p class="listing-icon baths icon"></p>
		<p class="listing-icon cars icon"></p>
		<p class="listing-price">Price</p>
		<p class="listing-inquire">Inquire</p>
	</div>
	<!-- END TABLE HEADER -->
	<!-- START LISTINGS -->
	<div class="listings-property col-md-12 col-sm-6 col-xs clearfix">
		<p class="listing-time">10 sec ago</p>
		<p class="listing-town">Traralgon</p>
		<p class="listing-address">06725 Otis Port Suite 347</p>
		<p class="listing-type">Apartment / Unit</p>
		<p class="listing-icon beds">6</p>
		<p class="listing-icon baths">3</p>
		<p class="listing-icon cars">3</p>
		<p class="listing-price">$391,168</p>
		<p class="listing-inquire"><a class="btn-default btn-arrow" href="">Inquire</a></p>
	</div>
	<div class="listings-property col-md-12 col-sm-6 col-xs clearfix">
		<p class="listing-time">10 sec ago</p>
		<p class="listing-town">Fish Creek</p>
		<p class="listing-address">06725 Otis Port Suite 347</p>
		<p class="listing-type">Apartment / Unit</p>
		<p class="listing-icon beds">6</p>
		<p class="listing-icon baths">3</p>
		<p class="listing-icon cars">3</p>
		<p class="listing-price">$391,168</p>
		<p class="listing-inquire"><a class="btn-default btn-arrow" href="">Inquire</a></p>
	</div>
	<div class="listings-property col-md-12 col-sm-6 col-xs clearfix">
		<p class="listing-time">10 sec ago</p>
		<p class="listing-town">Nunnawadding</p>
		<p class="listing-address">06725 Otis Port Suite 347</p>
		<p class="listing-type">Apartment / Unit</p>
		<p class="listing-icon beds">6</p>
		<p class="listing-icon baths">3</p>
		<p class="listing-icon cars">3</p>
		<p class="listing-price">$391,168</p>
		<p class="listing-inquire"><a class="btn-default btn-arrow" href="">Inquire</a></p>
	</div>
	<div class="listings-property col-md-12 col-sm-6 col-xs clearfix">
		<p class="listing-time">10 sec ago</p>
		<p class="listing-town">Drouin</p>
		<p class="listing-address">06725 Otis Port Suite 347</p>
		<p class="listing-type">Apartment / Unit</p>
		<p class="listing-icon beds">6</p>
		<p class="listing-icon baths">3</p>
		<p class="listing-icon cars">3</p>
		<p class="listing-price">$391,168</p>
		<p class="listing-inquire"><a class="btn-default btn-arrow" href="">Inquire</a></p>
	</div>
	<!-- END LISTINGS -->
</div>