/*					    *\
    FORM BASE STYLING
\*						*/
.btn-default {
	color: $white;
	background-color: $brand-color;
	transition: all .3s ease;
	margin: 1em;
	border-color: $brand-color;
	transition: all .3s ease;
	text-align: center;

	&:visited {
		background-color: $brand-color;
		color: $white;
	}

	&:hover {
		color: $white;
		background-color: $brand-color;
		border-color: $brand-color;
		box-shadow: 0px 3px 2px rgba( black, 1);
	}

	&:focus {
		background-color: $white;
		color: $brand-color;
	}

	&.btn-outline {
		background-color: inherit;
		color: inherit;
		border: 2px solid;
		box-shadow: none;
		border-radius: 5px;

		&.delete, &.edit {
			color: $brand-color;
			margin: 1em 2%;
		}

		&:hover {
			opacity: .6;
		}

	}

}

.btn-secondary {
	@extend .btn-default;
	opacity: .6;

	&:hover {
		opacity: 1;
	}
}

.btn-arrow {
	border-radius: 5px;
	border: none;
	position: relative;
	display: inline-block;
	margin: 1em 0;
	padding: .325em 1em;
	text-decoration: none;

/* Hidden arrow in button container
	&:after {
		content: ' ';
		position: absolute;
		top: .5em;
		right: .5em;
		display: block;
		width: 0; 
		height: 0; 
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 8px solid $dark-blue;
	}
*/

	&:hover {
		box-shadow: 0px 5px 7px rgba(black, .2);
		text-decoration: none;
	}
}

.checkbox input[type="checkbox"] {
	position: relative;
	margin-left: 0;
	margin-right: .25em;

	&:before {
		width: 15px;
		height: 15px;
		border: 2px solid $brand-color;
		content: ' ';
		display: inline-block;
		background-color: $white;
		transition: all .3s ease;
		cursor: pointer;
		position: relative;
		top: -1px;
	}

	&:checked {

		&:before {
			background-color: $brand-color;
		}

	}

}

.input-group {
	width: 100%;
	margin-bottom: 1em;

	input {
		box-shadow: none;
	}

	&.range-slider {
		margin-bottom: .625em;
	}

	&.form-inline {
		margin-bottom: .5em;

		.form-group {
			margin-right: 2em;
			max-width: 75px;

			.select2 {
				padding: .5em 0;
			}
		}
	}
}

.form-control {
	width: 100%;
	background-color: $white;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid $brand-color;
	transition: all .3s ease;
	padding: .75em 0;
	height: 3em;

	&:focus {
		padding: .75em;
		border-bottom: 2px solid $dark-blue;
	}
}

form {

	.profile-image {
		border: 2px dashed $brand-color;
		border-radius: .5em;
		padding: 1em;
		display: inline-block;

		&:hover {
			cursor: pointer;
		}

	}

}

label {
	font-weight: $base-font-weight;
	font-size: 1.325rem;
	color: $brand-color;
	display: block;
	margin: 1em 0 .25em;

	&.slider-label {
		margin-bottom: .825em;
	}

}

.form-footer {
	padding: .5em 0 0;
	margin-top: 1em;
	border-top: 1px solid rgba( $white, .4 );

	a {
		font-size: 1.125rem;

		&:nth-child(even) {
			float: right;
		}

	}

}

.blue {

	h3 {
		color: $white;
	}

	a p {
		color: $white;
		opacity: .7;
	}

	input {
		padding: .5em;
		border: none;
		border-radius: 5px;
	}

	&.search-bar {
		padding: 2em 0;
		margin-top: 2em;

		.search {
			z-index: 10;
		}

		.btn-default {
			margin-top: 0;
			margin-left: 2em;
		}

	}

}

/*					    *\
   FORM RESPONSE STATES
\*						*/
.form-control-feedback {
	line-height: 40px;
	height: 40px;
}

.has-warning, .has-error {
	.form-control {
		color: red;
		background-color: rgb(255,235,235);
		border-color: red;
		padding: .75em;
		box-shadow: none;
		&:focus {
			border-color: $dark-blue;
		}
	}
	.form-control-feedback {
		color: red;
	}
	.control-label {
		color: red;
	}
}

.has-success {
	color: inherit;
	.form-control {
		box-shadow: none;
		border-color: $brand-color;

		&:focus {
			border-color: $dark-blue;
		}
	}
	.form-control-feedback {
		color: $brand-color;
		border: 2px solid;
		width: 32px;
		height: 32px;
		line-height: 30px;
		border-radius: 50%;
		top: 35px !important;
	}
	.control-label {
		color: $brand-color;
	}
}

/*					    *\
     SELECT2 STYLING
\*						*/
.select2 {
	display: block;
	border: none;
	border-bottom: 2px solid $brand-color;

	.select2-selection__rendered {
		font-size: 1.325rem !important;
		line-height: 1.5em !important;
	}

	span.select2-selection {
		border: none !important;

		&:after {
			display: block;
			font-family: 'Glyphicons Halflings';
			content: '\e259';
			position: absolute;
			right: .5em;
			top: .5em;
			color: $brand-color;

			&:hover {
				cursor: pointer;
			}

		}

	}

	.select2-selection--multiple {
		
		.select2-selection__choice__remove {
			margin-right: .25em;
			color: $brand-color;
		}

		.select2-selection__choice {
			border: none;
			background-color: $white;
			padding: 0 .5em 0 0;
			color: $brand-color;
		}

	}

}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none;
}

.select2-container--default {

	.select2-dropdown {
		border: 2px solid $brand-color;
		box-shadow: 0px 2px 7px rgba( $grey, 1 );

		.select2-results__option {
			transition: all .1s ease;
			font-size: 1.325rem;

			&[aria-selected=true] {
				background-color: rgba($brand-color, .7);
				color: $white;
			}

		}

		.select2-results__option--highlighted[aria-selected] {
			color: $brand-color;
			background-color: rgba( $brand-color, .2);
		}
	}

}

/*					    *\
    FORM SLIDER STYLING
\*						*/
.range-label {
	margin: .325em 1.5em 1.325em 0;
	display: inline-block;
	font-size: 1.325rem;
	color: black;

	&:last-child {
		margin-right: 0;
		margin-left: 1.5em;
	}
}

.slider {
	.tooltip-inner {
		background-color: rgba($dark-blue, .7);		
	}
	&.slider-horizontal {

	 	.slider-selection {
	 		background: $dark-blue;
	 	}

	 	.slider-handle.triangle {
	 	 	border-width: 0px 12px 12px 12px;
	 	 	border-bottom-color: $brand-color;
	 	 	top: 4px;
	 	 	transform: rotate(90deg);
	 	 	&:after {
			    display: inline-block;
			    background-color: #57c8e8;
			    height: 12px;
			    width: 24px;
			    content: ' ';
			    position: relative;
			    top: 6px;
			    left: -12px;
	 	 	}
	 
	 	 	&:last-child {
	 	 		top:-8px;
	 	 		transform: rotate(-90deg);
	 	 		margin-left: -15px;
	 	 	}
	 	}
	}
}

.tooltip.top {

	.tooltip-arrow {
		border-top-color: rgba($dark-blue, .7);
	}

}