.checkbox input[type="checkbox"] {
	position: relative;
	margin-left: 0;
	margin-right: .25em;

	&:before {
		width: 15px;
		height: 15px;
		border: 2px solid $brand-color;
		content: ' ';
		display: inline-block;
		background-color: $white;
		transition: all .3s ease;
		cursor: pointer;
		position: relative;
		top: -1px;
	}

	&:checked {

		&:before {
			background-color: $brand-color;
		}

	}

}

.input-group {
	width: 100%;
	margin-bottom: 1em;

	input {
		box-shadow: none;
	}

	&.form-inline {
		.form-group {
			margin-right: 2em;
			max-width: 75px;
		}
	}
}

.form-control {
	width: 100%;
	background-color: $white;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid $brand-color;
	transition: all .3s ease;
	padding: .75em 0;
	height: 3em;

	&:focus {
		padding: .75em;
		border-bottom: 2px solid $dark-blue;
	}
}

.btn-default {
	color: $white;
	background-color: $brand-color;
	transition: all .3s ease;
	margin: 1em;
	border-color: $brand-color;

	&:hover {
		color: $white;
		background-color: $brand-color;
		border-color: $brand-color;
		box-shadow: 0px 3px 2px rgba( black, 1);
	}

	&:focus {
		background-color: $white;
		color: $brand-color;
	}

	&.btn-outline {
		background-color: inherit;
		color: inherit;
		border: 2px solid;
		box-shadow: none;
	}

}

.btn-secondary {
	@extend .btn-default;
	opacity: .6;

	&:hover {
		opacity: 1;
	}
}

.btn-arrow {
	border-radius: 0;
	position: relative;
	display: inline-block;
	margin: 1em 0;
	padding: .325em 2em .325em .75em;

	&:after {
		content: ' ';
		position: absolute;
		top: .5em;
		right: .5em;
		display: block;
		width: 0; 
		height: 0; 
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 8px solid $dark-blue;
	}

	&:hover {
		box-shadow: 0px 5px 7px rgba(black, .2);
	}
}

.form-control-feedback {
	line-height: 40px;
	height: 40px;
}

.has-warning, .has-error {
	.form-control {
		color: red;
		background-color: rgb(255,235,235);
		border-color: red;
		padding: .75em;
		box-shadow: none;
		&:focus {
			border-color: $dark-blue;
		}
	}
	.form-control-feedback {
		color: red;
	}
	.control-label {
		color: red;
	}
}

.has-success {
	color: inherit;
	.form-control {
		box-shadow: none;
		border-color: $brand-color;

		&:focus {
			border-color: $dark-blue;
		}
	}
	.form-control-feedback {
		color: $brand-color;
		border: 2px solid;
		width: 32px;
		height: 32px;
		line-height: 30px;
		border-radius: 50%;
		top: 2px;
	}
	.control-label {
		color: $brand-color;
	}
}

form {

	.profile-image {
		border: 2px dashed $brand-color;
		border-radius: .5em;
		padding: 1em;
		display: inline-block;

		&:hover {
			cursor: pointer;
		}

	}

}

label {
	font-weight: $base-font-weight;
	font-size: 1.325rem;
	color: $brand-color;
	display: block;
	margin: 1em 0 .25em;
}

/* SELECT2 STYLING */
.select2 {
	display: block;
	border: none;
	border-bottom: 2px solid $brand-color;

	span.select2-selection {
		border: none !important;

		&:after {
			display: block;
			font-family: 'Glyphicons Halflings';
			content: '\e259';
			position: absolute;
			right: .5em;
			top: .5em;
			color: $brand-color;

			&:hover {
				cursor: pointer;
			}

		}

	}

	.select2-selection--multiple {
		
		.select2-selection__choice__remove {
			margin-right: .25em;
			color: $brand-color;
		}

		.select2-selection__choice {
			border: 2px solid $brand-color;
			background-color: $white;
			padding: .25em .5em;
			color: $brand-color;
		}

	}

}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none;
}

.select2-dropdown {
	border: 2px solid $brand-color;
	box-shadow: 0px 2px 7px rgba( $grey, 1 );

	.select2-results__option {
		transition: all .1s ease;

		&[aria-selected=true] {
			background-color: rgba($brand-color, .7);
			color: $white;
		}

	}

	.select2-results__option--highlighted {
		color: $brand-color !important;
		background-color: rgba( $brand-color, .2) !important;
	}
}


/* FORM SLIDER STYLING */
.range-label {
	margin: .325em 1.5em .75em 0;
	display: inline-block;

	&:last-child {
		margin-right: 0;
		margin-left: 1.5em;
	}
}

.slider {
	.tooltip-inner {
		background-color: rgba($brand-color, .7);		
	}
	&.slider-horizontal {

	 	.slider-selection {
	 		background: $dark-blue;
	 	}

	 	.slider-handle.triangle {
	 	 	border-width: 0px 12px 12px 12px;
	 	 	border-bottom-color: $brand-color;
	 	 	top: 4px;
	 	 	transform: rotate(90deg);
	 	 	&:after {
			    display: inline-block;
			    background-color: #57c8e8;
			    height: 12px;
			    width: 24px;
			    content: ' ';
			    position: relative;
			    top: 6px;
			    left: -12px;
	 	 	}
	 
	 	 	&:last-child {
	 	 		top:-8px;
	 	 		transform: rotate(-90deg);
	 	 		margin-left: -15px;
	 	 	}
	 	}
	}
}

.tooltip.top {
	.tooltip-arrow {
		border-top-color: rgba($brand-color, .7);
	}

}