.modal {

	.modal-dialog {
		border-radius: 5px;
		width: 90%;
		max-width: 960px;
		margin: 4em auto;
	}

}

.modal-content {
	padding: 2em;
}

.modal-header {
	padding:  0 0 .75em;
	border-bottom: none;
}

.modal-body {
	padding: 0 ;
}

.modal-footer {
	text-align: left;
	border-top: none;
	padding: 0 ;

	a {
		font-size: 1.25rem;
		opacity: .8;
		float: left;
		&:last-child {
			float: right;
		}
	}

}