.modal-content {
	background-color: $brand-color;
	color: $white;
	position: relative;
	overflow: hidden;
	border: none;
	padding: 2em;
	box-shadow: 0px 10px 25px rgba( black , .4);

	&:before {
		height: 220%;
		width: 75%;
		content: ' ';
		display: block;
		position: absolute;
		top: -10%;
		left: -10%;
		transform: rotate(-15deg);
		background-color: rgba($white, .14);
	}

	.checkbox input[type="checkbox"] {

		&:before {
			border: 2px solid $white;
			background-color: $brand-color;
		}

		&:checked {

			&:before {
				background-color: $white;
			}

		}

	}

	.form-control {
		padding: .75em;
	}

	.btn-default {
		color: $brand-color;
		background-color: $white;
		border-color: $brand-color;

		&:hover {
			color: $brand-color;
			background-color: $white;
			border-color: $brand-color;
		}

		&:focus {
			background-color: $white;
			color: $brand-color;
		}

	}

	.btn-arrow {
		&:after {
			border-left: 8px solid $light-grey;
		}
	}

}

.modal-dialog {
	max-width: 480px;
	border-radius: 5px;
}

.modal-header {
	padding:  0 0 .75em;
	border-bottom: none;
}

.modal-body {
	padding: 0 ;
}

.modal-footer {
	text-align: left;
	border-top: none;
	padding: 0 ;

	a {
		font-size: 1.25rem;
		opacity: .8;
		float: left;
		&:last-child {
			float: right;
		}
	}

}