.page-content {
	padding: 2em 0 6em;
	
	.home & {
		padding: 0 0 6em;

		h2 {
			color: $brand-color;
			font-size: 2.125rem;
		}

		.container {
			padding: 4em 0;
			width: 100%;
		}

	}

	.container {
		padding: 0;
	}
	
}

.page-header {
	border-bottom: none;
	margin-bottom: 0;
}

.page-title {
	margin-bottom: $spacing-unit;
	padding: 0;

	h1 {
		margin: 0 0 .25em;
	}

}

.add-content {
	text-align: right;
	color: $brand-color;
	padding: 0;

	button {
		display: inline-block;
		font-size: 1.5em;
		height: 1.5em;
		width: 1.5em;
		border-radius: 5px;
		line-height: .75em;
		margin: .5em;
		margin-right: 0;

		&:hover {
			background-color: $brand-color;
			color: $white;
			border-color: $brand-color;
		}

	}

	h4 {
		display: inline-block;
	}
}

.col-image {
	max-width: 75px;
	margin-bottom: 1em;
}

.blue {
	background-color: $brand-color;
	background-image: url('/assets/bg-pattern-white.png');
	background-position-y:24px;
	position: relative;
	overflow: hidden;

	h1 {
		color: $white;
		line-height: 1.5em;
		font-size: 2.625rem;
		letter-spacing: .01em;
	}

	.btn-default {
		background-color: $white;
		color: $brand-color;
	}

	&:after {
		position: absolute;
		content: ' ';
		transform: rotate(-25deg);
		background-color: $brand-color;
		display: block;
		width: 50%;
	    height: 200%;
	    z-index: 1;
	    top: -100%;
	    display: block;
	    right: -10%;
	}

	.wrapper {
		position: relative;
		z-index: 5;
	}

}

.home-banner {
	background-size: cover;
	background-position-y: 35%; 
	min-height: 65vh;
	display: -webkit-box; 
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;   
	align-items: center;

	.wrapper {
		width: 100%;

		.panel {
			vertical-align: middle;
			padding: 0;

			.panel-heading {
				background-color: $white;
				border-bottom: 1px solid $brand-color;

				h4 {
					margin-bottom: 0;
				}

			}

			.panel-body {

				h1 {
					font-size: 2.125rem;
					margin-bottom: 0;
				}

				img {
					max-width: 125px;
					margin-bottom: .5em;
				}

			}

			.panel-footer {
				background-color: $white;
				border-top: none;
			}

		}

		.search {
			border-top: 1px solid $white;
			padding: 1em 0;
			clear: both;

			a {
				p {
					opacity: .6;
					transition: all .3s ease;

					&:hover {
						opacity: .8;
					}
				}
			}

			p {
				color: $white;
			}

			.form-control {
				width: 70%;
				margin-right: 4%;
				padding: 1em;
			}

		}

	}

	.btn-arrow {
		margin: 0;
	}

}

/* 					*\
	 HOW IT WORKS
\*					*/
.how-it-works {

	section {
		position: relative;
		border-bottom: 2px dashed rgba($grey, .6);

		span {
			padding: 1.5em 1em;
			min-height: 150px;

			&:nth-child(even) {
				background-color: rgba($brand-color, .1);
			}
		}

		svg {
			bottom: 35px;
			position: absolute;
			left: 39%;

			path, line, polyline, rect, circle, polygon {
			    transition: all 1s ease;
			}
		}

		&#sectionOne {
			border-top: 2px solid $brand-color;
			margin-top: 2em;
		}

		&#sectionFive {
			border-bottom: 2px solid $brand-color;
			margin-bottom: 2em;
		}

		/* SECTION ONE SVGS */
		#male_agent {
			right: 36%;
			left: auto;
		}

		#female_agent {
			left: 36%;
		}

		#sectionOneArrow {
			bottom: -40px;

			polyline {
			    stroke-dasharray: 200,285;
			    stroke-dashoffset: 200;
			    transition: all 1s ease;
			}

			path, line {
				position: relative;
				opacity: 0;
			    @include transform( translate(0, -105px) );
			}
		}

		/* SECTION TWO SVGS */
		#sectionTwoArrowRight {
			bottom: -20px;
			left: 38.75%;

			polyline {
				stroke-dasharray: 200;
				stroke-dashoffset: -150px;
			}
		}

		#qre_logo {
			left: 46%;
			bottom: 10px;
		}

		#handOne {
			@include transform-origin(60% 92%);
			@include transform( rotate(0deg) );
			@include animation( hands 2s linear );
			@include animation-iteration-count(1);
		}

		#handTwo {
			@include transform-origin(20% 0%);
			@include transform( rotate(0deg) );
			@include animation( hands .5s linear );
			@include animation-iteration-count(4);
		}

		#phoneGroup {
			left: auto;
		    right: 34.75%;
		    bottom: -20px;
		}

		#phone {
			@include transform(rotate(0deg));
			@include transform-origin(50% 50%);
			@include animation(ring 1.75s ease);
			@include animation-iteration-count(infinite);
		}

		#innerSignal {
			opacity: 0;
			@include transform( translate(-10px, 5px) );
			@include animation(signals 1.75s ease);
			@include animation-iteration-count(infinite);
		}

		#outterSignal {
			opacity: 0;
			@include transform( translate(-10px, 5px) );
			@include animation(signals 1.75s ease);
			@include animation-delay(.25s);
			@include animation-iteration-count(infinite);
		}

		/* SECTION THREE SVGS */
		#female_agentTwo {
			left: auto;
			right: 36.25%;
		}

		#houseListing {
			left: 35.9%;
		}

		/* SECTION FOUR SVGS */
		#sold {
			left: auto;
			right: 34%;
			bottom: 45px;
			@include transform-origin(50% 50%);
			@include animation( ring 4s ease );
			@include animation-delay(.25s);
			@include animation-iteration-count(infinite);
		}

		#circleIcons {
			left: 27%;
			bottom: 40px;
		}

		#pencil {
			@include transform( rotate(0deg) );
			@include transform-origin(50% 50%);
			@include animation( spin 2s ease );
			@include animation-iteration-count(infinite);
		}

		#camera {
			@include transform-origin(50% 50%);
			@include animation( camera 2s ease );
			@include animation-delay(.25s);
			@include animation-iteration-count(infinite);
		}

		#checkOne .check{
			opacity: 0;
			@include transform-origin(50% 50%);
			@include animation(scale 2s ease);
			@include animation-delay(.0s);
			@include animation-iteration-count(infinite);
		}
		#checkTwo .check {
			opacity: 0;
			@include transform-origin(50% 50%);
			@include animation(scale 2s ease);
			@include animation-delay(.25s);
			@include animation-iteration-count(infinite);
		}
		#checkThree .check {
			opacity: 0;
			@include transform-origin(50% 50%);
			@include animation(scale 2s ease);
			@include animation-delay(.5s);
			@include animation-iteration-count(infinite);
		}

		/* SECTION FIVE SVGS */
		#computerGroup {
			left: 35%;
		}

		#contentTwo, #contentOne {
			opacity: 0;
			@include animation(computerContent 5s ease);
			@include animation-iteration-count(infinite);
		}

		#contentTwo {
			@include animation-delay(.125s);
		}

	}

}

// Animate Phone
@include keyframes(signals) {
	0% { @include transform( translate(-10px, 5px) ); opacity: 0;}
	50% { @include transform( translate( 0px, 0px) ); opacity: .5;}
	100% { @include transform( translate( 0px, 0px) ); opacity: 0; }
}

@include keyframes(ring) {
	0% {  @include transform( roate(0deg) ) }
	50% { @include transform( rotate(5deg) )}
	100% {  @include transform( roate(0deg) ) }
}

@include keyframes(spin) {
	0% {  @include transform( rotate(0deg) ) }
	35% { @include transform( rotate(375deg) )}
	50% { @include transform( rotate(360deg) )}
	100% {  @include transform( rotate(365deg) ) }
}

// Animate Logo
@include keyframes(hands) {
	0% { @include transform( rotate(0deg) ) }
	100% { @include transform( rotate(360deg) ) }
}

// Check animations 
@include keyframes(scale) {
	0% { @include transform(scale(0,0) ); opacity: 0;}
	25% { @include transform( scale(1.125) ); opacity: 1;}
	35% { @include transform( scale(1) ); opacity: 1; }
	75% { @include transform( scale(1) ); opacity: 1; }
	100% { @include transform( scale(1) ); opacity: 0; }
}

// Camera
@include keyframes(camera) {
	0% { @include transform( translate(0px, 75px) rotate(-45deg) ); opacity: 0;}
	25% { @include transform( translate( 0px, -10px )  rotate(60deg) ); opacity: 1;}
	50% { @include transform( translate( 0px, 2px)  rotate(10deg) )}
	85% { @include transform( translate( 0px, 0px) rotate(15deg) ); opacity: 1;}
	100% { @include transform( translate( 0px, 75px)  rotate(45deg) ); opacity: 0;}
}

// Computer content 
@include keyframes(computerContent) {
	0% { @include transform( translate( 0px, 8px) ); opacity: 0;}
	25% { @include transform( translate( 0, -3px) ); opacity: .6;}
	35% { @include transform( translate( 0, 0) ); }
	85% { @include transform( translate( 0, 0) ); opacity: .6;}
	100% { @include transform( translate( 0, 2px) ); opacity: 0;}
}